# MariaDB Ubuntu {{ ansible_distribution_release | title }} repository list
# http://mariadb.org/mariadb/repositories/
deb https://archive.mariadb.org/mariadb-10.2.38/repo/ubuntu {{ ansible_distribution_release | lower }} main
deb-src https://archive.mariadb.org/mariadb-10.2.38/repo/ubuntu {{ ansible_distribution_release | lower }} main
